div{
  display: block;
}
.login-htm {
  text-align: center;
  /* width: 700px; */
  margin: auto;
}

.form-group {
  margin-bottom: 14px;
}

.form-control {
  padding: 3px 7px;
  height: 30px;
  border: 1px solid;
  border-radius: ;

}
